<ion-view title="Relatório de horas" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="report-list4" class=" ">
            <ion-item id="report-list-item9" class="  ">Total trabalhado hoje
                <span class="item-note">06:25:33</span>
            </ion-item>
            <ion-item id="report-list-item10" class="  ">Total da semana
                <span class="item-note">35:14:02</span>
            </ion-item>
            <ion-item id="report-list-item11" class="  ">Total do mês
                <span class="item-note">111:25:48</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
