<ion-view title="Registro" hide-back-button="true" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="signUp-markdown3" style="color:#000000;font-size:20px;text-align:center;" class=" ">Empregado não registrado</p>
        <div class="list card " id="signUp-card22">
            <ion-item class="dark  " id="signUp-list-item14">{{ uuid }}
                <span class="item-note">ID</span>
            </ion-item>
        </div>
        <p id="signUp-markdown4" style="color:#000000;" class=" ">Solicite ao empregador o registro deste aparelho no sistema no
            <strong>CatracaDigital</strong>, fornecendo o ID referenciado acima.</p>
        <button ng-click="refresh()" id="register-button3"
              class=" button button-positive  button-block icon-left ion-android-add-circle ">Atualizar
        </button>
    </ion-content>
</ion-view>
